.products {
    width: 100%;
    padding: 5% 0;
    display: inline-block;

}
.images {
    width: 33%;
    text-align: center;
    vertical-align: baseline;
    display: inline-block;
    margin-bottom:1%;
}
.imageContainer {
    margin: auto;
    width: 80%;
}
.productImage {
    width: 250px;
    height: 250px;
    display: inline-block;
}
.price {
    text-align: center;
}
.description {
    text-align: center;
}

@media all and (max-width: 800px) {
.products{
    width: 91%;
    padding: 2% 1%;
}

.images {
    width: 50%;
}
}

@media all and (max-width: 375px) {
    .images {
        width: 111%;
        margin-bottom: 11%;
    }
}